#cstm{
    padding: 8px;
    margin: 23px 5px;
    border-radius: 10px;
    cursor: pointer;
    width: 225px;
    background-color: skyblue;
    border-color: rgb(44, 105, 106);
    font-weight: bolder;
    box-shadow: 0px 0px 10px 10px lightcyan;    
}