#users #title {
  text-align: center;
  color: teal;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 2px 2px 5px rgb(133, 39, 192);
 
}

#users{

}

#users #user-grid {
  display: grid;
  grid-template-columns: repeat(autofill, minmax(300px, 1fr));
  gap: 20px;
  padding: 0px 20px;
  padding-bottom: 20px;
}
